.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.box .MainBox{
    border: 2px solid black;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color:aqua;
}